<{% extends "layout.html" %} {% block title %}Rekisteröidy{% endblock %}
{% block content %}
    <form  action="{{ url_for('register') }}" name="form" method="post">
        <div class="msg">{{ msg }}</div>

        <h3 align="center">Rekisteröidy</h3>
        <div>
            <h5>Rooli</h5>
            <div class="form-group">
                <!-- <label>{{value}}</label> -->
                <select name="search_category" id="search_category_id" class="form-control">
                    <option value="" selected="selected"></option>
                    {% for row in carbrands %}
                        <option value='{{ row.brand_id }}' name="roletype">{{ row.brand_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="form-group">
            <label for="username">Tunnus</label>
            <input type="username"
                   class="form-control"
                   id="username"
                   name="username"
                   placeholder="*********" required>
        </div>

        <div class="form-group">
            <label for="password">Salasana</label>
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>

            <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="*********" required>

        </div>

        <br/>
        <button type="submit" class="btn btn-primary">Luo käyttäjä</button>
        <p class="bottom">Onko sinulla jo käyttäjä?  <a class="bottom" href="{{url_for('login')}}"> Kirjaudu tästä</a></p>
    </form>
{% endblock %}
